*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightgrey;
	color:black;
	font-family: 'open sans';
}
header{
	background-color: black;
	padding: 20px;
	color:#fff;
	text-align: right;
	padding-right: 30px;
	position: fixed;
	width: 100%;
	margin-top: -80px;
}
.head{
	text-decoration: none;
	color:#fff;
	margin-left: 15px;
}
a:hover{
	text-decoration: none;
	color: darkgrey;
}	
.corpo{
	text-align: center;
	margin-top: 75px;
}
.perfil{
	width: 15%;
	border-radius: 50%;
	margin-top: 25px;
	margin-bottom: 15px;
	box-shadow: 10px 10px 5px darkgrey;
}
img[class=perfil]:hover{
	width:20%;
}
h1{
	font-size: 70px;
	margin-top: 0;
}
p[class*=p]::first-letter{
	font-size: 40px;
}
.p1{
	font-size: 25px;
	margin: 0 3% 0 3%;
}
div[class="col-1-2"]>div{
	padding: 15px;
}
.p2{
	font-size: 30px;
}
form>p{
	font-size: 35px;
}
.p3{
	font-size: 30px;
	color:#fff;
}
div[class="col-1-4"] a img:hover{
	box-shadow: 0 0 15px lightgrey;
	-webkit-transform:scale(1.2); /* prefixo para browsers webkit */
    -moz-transform:scale(1.2); /* prefixo para browsers gecko */
    -o-transform:scale(1.2); /* prefixo para opera */
    transform:scale(1.2);
}
div[class="col-1-4"] a img{
	border-radius: 5px;
	margin: 20px;
}
div[class="grid grid-pad"]{
	padding-right: 40px;
}
.b4{
	font-size: 25px;
	margin-left: 25px;
	margin-bottom: 5px;
}
.art{
	margin-top: 40px;
}
.trab{
	background-color: black;
	padding: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.foot{
	background-color: black;
	padding: 30px;
	color: white;
	font-size: 10px;
}
select{
	float: right;
	width: 100px;
}
form{
	color: white;
	background-color: black;
	text-align: center;
	margin-bottom: 50px;
	padding: 30px;
	margin-top: 30px;
}
input[type="ddd"]{
	width: 60px;
	margin-right: 7px;
}
input[type="name"]{
	width: 400px;
	margin-top: 7px;
}
input[type="email"]{
	width: 400px;
}
input[type="submit"]{
	width: 215px;
	background-color: darkgrey;
	border-radius: 3px;
	border:solid 1px;
	border-color: darkgrey;
	color:#fff;
}
input[type="submit"]:hover{
	box-shadow: 3px 3px 3px lightgrey;
	transform:scale(1.1);
}
input{
	padding: 5px;
	margin-bottom: 9px;
	border-radius: 3px;
}
input:focus{
	box-shadow: 3px 3px 3px lightgrey;
}
textarea:focus{
	box-shadow: 3px 3px 3px lightgrey;
}
textarea{
	width: 400px;
	height: 75px;
	padding:5px;
	margin-bottom: 9px;
	border-radius: 3px;
}
.copy{
	color:white;
}
.progresso{
	background-color: white;
	width: 90%;
	margin-bottom: 10px;
	height: 12px;
	margin-left: 25px;
	padding-bottom: 3px;
}
.progresso0{
	background-color: #666 ;
	width: calc(100%+10px);
	color:white;
	height: 12px;
	font-size: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: -12px;
}
.progresso2{
	background-color: black;
	width: 35%;
	color:white;
	height: 12px;
	font-size: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: -12px;
}
.progresso3{
	background-color: black;
	width: 90%;
	color:white;
	height: 12px;
	font-size: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: -12px;
}
.progresso4{
	background-color: black;
	width: 10%;
	color:white;
	height: 12px;
	font-size: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: -12px;
}
.progressosite{
	background-color: black;
	width:52.5%;
	color:white;
	height: 12px;
	font-size: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: -12px;
}
#prog{
	width: 380px;
	background-color: darkgrey;
	margin-right: 5px;
	margin-left: 25px;
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 20px;
}
section:nth-child(5){
	margin-bottom: 30px;
}
footer{
	margin-top: 30px;
	margin-bottom:-30px;
}
